<div>
    <h3 class="navmenu"><a [routerLink]="'/'">Products </a> > {{product.title}}</h3>
    <div class="main" *ngIf="!loading">
        <div class="imageContainer">
            
            <img 
                src="{{product.image}}" 
                alt="product" 
            >
        </div>
        <div class="productInfoContainer">
            <div class="productInfo">
                <h1>{{product.title}}</h1>
                <!-- category box -->
                <mat-chip class="box">
                    {{product.category}}
                </mat-chip>
                <!-- rating stars -->
                <div class="ratingComponent">
                    <ng-rating-bar
                        [value]="product.rating.rate"
                        [ratingCount]="5"
                        [disabled]="true"
                    ></ng-rating-bar>
                    <h4 >({{product.rating.count}})</h4>
                </div>  
                <p align="justify">{{product.description}}</p>
                <h1>US${{product.price}}</h1>
            </div>
        </div>
    </div>
</div>