<div class="main">  
    <h3>Order</h3>
    <section class="example-section">
        <mat-radio-group 
            [(ngModel)]="order"
            (ngModelChange)="sendFilters()"
            >
            <mat-radio-button  value="ASCD">Ascendent</mat-radio-button>
            <mat-radio-button  value="DESC">Descendant</mat-radio-button>
        </mat-radio-group>
    </section>
      
    <h3>Price</h3>
    <section>
        <mat-radio-group 
            [(ngModel)]="priceRange"
            (ngModelChange)="sendFilters()"
            >
            <mat-radio-button  value="0">Any price</mat-radio-button>
            <mat-radio-button  value="1">Under $25</mat-radio-button>
            <mat-radio-button  value="2">$25 to $50</mat-radio-button>
            <mat-radio-button  value="3">$50 to $100</mat-radio-button>
            <mat-radio-button  value="4">$100 to $200</mat-radio-button>
            <mat-radio-button  value="5">$200 & Above</mat-radio-button>
        </mat-radio-group>
    </section>

</div>
