<div class="main">
    <a [routerLink]="['/products', product.id]">
    <div class="imageContainer">
        <img 
            src="{{ product?.image }} " 
            alt="product" 
        >
    </div>
    <div class="productInfo">
        <h4>{{ product?.title }}</h4>
        <div class="ratingComponent">
            <ng-rating-bar
                [value]="product.rating.rate"
                [ratingCount]="5"
                [disabled]="true"
            ></ng-rating-bar>
            <h4 >({{product.rating.count}})</h4>
        </div> 
        <h3>US${{product.price}}</h3>
    </div>
    </a>
</div>