.main {
    /*background-color: magenta;*/
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around; */
    align-content: flex-start;
    align-items: flex-start;
    padding-top: 30px;
}